<div class="group">
	<p><%= group.room %> @ <%= group.time %></p>
	

	<p>Topic: <%= group.topic if !group.edit_mode %></p>

	
	<% if !group.edit_mode %>
		<%= form_for :group, url: group_path(group), 
								:html => {:class => "group__topic-change"}, method: :patch do |f| %>
			<p>
		    <%= f.text_field :topic %>
		  </p>
		  <p>
	    	<%= f.submit :value => "change topic"%>
	  	</p>
	  <% end %>
	<% end %>

	
	<p>Recursers:</p>
	<%= render group.recursers %>
	<br>


	
	<%= button_to 'join group', {:controller => 'recursers', :action => 'update', :group_id => group.id, :id => session[:current_user]["id"], :recurser => session[:current_user]}, {:class => "group__join-group-button", :method => :patch} %>
	


<!--
	<p>
  <%= link_to 'Destroy Group', [group],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
	</p>
-->

</div>
