
<!--RoomList = ["Djikstra", "Von Neumann", "McCarthy", "Turing", "Lovelace", "Church", "Babbage", "Hopper", "Library"] -->
<link href='https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

<div id="main-container">
  <div id="header-container">
    <%= image_tag("rclogo.png", :class => "rc-logo") %>
    <div id="titles-container">
      <h1 class='titles'>Sign up for Checkins or Checkouts</h1>
      <h4 class='titles'>For accountability and to find out what others are working on!</h4>
      <h3 class='titles'>You are logged in as: <%= @_current_user["name"] %></h3>
    </div>
    <%= image_tag("rclogo.png", :class => "rc-logo") %>

    <%= link_to image_tag("settings.png", :class => "settings-icon"), "/profile" %>

    <div class="settings__tooltip<%=" settings__tooltip-visible" if !@_current_user["group_id"]%>">If your Zulip email is different than what's in the RC database, change it here before signing up for check-ins!</div>

  </div>

  </div>

  <div class="confirmation <%=" confirmation-active" if @ping_success != nil %>">
    <%= ping_success_helper(@ping_success) %>
  </div>


  <% @sections.each do |title, times| %>
  <h2 class="titles"><%= title %></h2>
  <h4 class="titles">
    <% if title == "Checkins" %>
      Meet at the beginning of the day, up to 6 people, everyone takes turns quickly (~30 seconds) says what they did yesterday and what they're planning to do today.
    <% elsif title == "Checkouts" %>
      Meet at the end of the day, up to 4 people, everyone takes turns opening their computer and showing what they worked on that day (usually code, but it could be a blog post, slides for a presentation, research notes, etc.).
    <% end %>
  </h4>
  <div id="groups-container">
    <% @groups.to_a.sort{ |g1,g2| Time.parse(g1.time) <=> Time.parse(g2.time) }.each do |group| %>
    <% if times.include?(group.time) %>
    <%= render group %>
    <% end %>
    <% end %>
  </div>
  <% end %>


  <%= button_to 'leave groups', {:controller => 'recursers', :action => 'leave_group', :id => @_current_user["id"], :recurser => @_current_user}, {:class => "group__join-group-button", :method => :patch} %>

  <div id="github-link">
    <%= image_tag("github.ico", :class => "github-icon") %>
    <a  href="https://github.com/recursecenter/wiki/wiki/Check-Ins-App-Contributors-guide">Want to contribute?</a>
  </div>

</div>
