
<!--RoomList = ["Djikstra", "Von Neumann", "McCarthy", "Turing", "Lovelace", "Church", "Babbage", "Hopper", "Library"] -->
<link href='https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro:400,700' rel='stylesheet' type='text/css'>

<div id="main-container">
	<div id="header-container">
		<%= image_tag("rclogo.png", :class => "rc-logo") %>
		<div id="titles-container">
			<h1 class='titles'>Sign up for Check-Ins</h1>
			<h3 class='titles'>You are logged in as: <%= session[:current_user]["name"] %></h3>
		</div>
		<%= image_tag("rclogo.png", :class => "rc-logo") %>
		
		<%= link_to image_tag("settings.png", :class => "settings-icon"), {:controller => 'recursers', :action => 'edit', :id => session[:current_user]["id"]} %>
	</div>
	
	<div id="groups-container">
		<%= render @groups %>
		
	</div>

</div>