

<%= form_for :group, url: groups_path do |g| %>

	<% if @group.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@group.errors.count, "error") %> prohibited
        this group from being saved:
      </h2>
      <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= g.label :room %><br>
		<%= g.text_field :room %>
	</p>

	<p>
		<%= g.collection_select(:available_time_id, AvailableTime.all, :id, :time) %>
	</p>
	<p>
		<%= g.label :topic %><br>
		<%= g.text_field :topic %>
	</p>
	<p>
		<%= g.submit %>
	</p>
<% end %>