<!--

<%= form_for :recurser, url: recursers_path do |r| %>

	<% if @recurser.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@recurser.errors.count, "error") %> prohibited
        this recurser from being saved:
      </h2>
      <ul>
        <% @recurser.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<%= r.label :name %><br>
		<%= r.text_field :name %>
	</p>
	<p>
		<%= r.label :email %><br>
		<%= r.text_field :email %>
	</p>
	<p>
		<%= r.submit %>
	</p>
<% end %>

-->