<div class="group">
	<p>
		<strong>Room:</strong>
		<%= group.room %>
	</p>
	<p>
		<strong>Time:</strong>
		<%= group.time %>
	</p>
	

		<%= form_for :group, url: group_path(group), method: :patch do |g| %>
			<p>
		   	<%= g.label :topic %><br>
		    <%= g.text_field :topic, :value => group.topic %>
		  </p>
		  <p>
	    	<%= g.submit %>
	  	</p>

	
	<p>
		<strong>Recursers:</strong>
		<%= render group.recursers %>
	</p>
<% end %>


<h2>Join this group</h2>
<%= form_for([group, group.recursers.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
	



<!--
	<p>
  <%= link_to 'Destroy Group', [group],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
	</p>
-->

</div>
