<div class="group">
	<p>
		<strong>Room:</strong>
		<%= group.room %>
	</p>
	<p>
		<strong>Time:</strong>
		<%= group.time %>
	</p>
	<p>
		<strong>Topic:</strong>
		<%= group.topic %>
	</p>
	<p>
		<strong>Recursers:</strong>
		<%= render group.recursers %>
	</p>


<h2>Join this group</h2>
<%= form_for([group, group.recursers.build]) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
	



<!--
	<p>
  <%= link_to 'Destroy Group', [group],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
	</p>
-->

</div>
