<div class="group">
	<p>
		<strong>Room:</strong>
		<%= group.room %>
	</p>
	<p>
		<strong>Time:</strong>
		<%= group.time %>
	</p>
	

		<%= form_for :group, url: group_path(group), method: :patch do |g| %>
			<p>
		   	<%= g.label :topic %><br>
		    <%= g.text_field :topic, :value => group.topic %>
		  </p>
		  <p>
	    	<%= g.submit %>
	  	</p>

	
	<p>
		<strong>Recursers:</strong>
		<%= render group.recursers %>
	</p>
<% end %>


<%= button_to 'Join Group', {:controller => 'recursers', :action => 'update', :group_id => group.id, :id => session[:current_user]["id"], :recurser => session[:current_user]}, :method => :patch %>


<!--
	<p>
  <%= link_to 'Destroy Group', [group],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
	</p>
-->

</div>
