<div class="group">
	<p>
		<strong>Room:</strong>
		<%= group.room %>
	</p>
	<p>
		<strong>Time:</strong>
		<%= group.time %>
	</p>
	

		<%= form_for :group, url: group_path(group), method: :patch do |g| %>
			<p>
		   	<%= g.label :topic %><br>
		    <%= g.text_field :topic, :value => group.topic %>
		  </p>
		  <p>
	    	<%= g.submit %>
	  	</p>

	
	<p>
		<strong>Recursers:</strong>
		<%= render group.recursers %>
	</p>
<% end %>


<%= button_to 'Join Group', {:controller => 'groups', :action => 'update_recursers', :group_id => group.id,
									:recurser => {:name => @_current_user, :email => @_current_user, :current_group => 6}},
									:method => :post %>


<!--
	<p>
  <%= link_to 'Destroy Group', [group],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
	</p>
-->

</div>
